# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# sorgenti di mc

cpw
ibxm
net
paulscode
Start.java
forge_logo.png
mcp.png
mcpmod.info
fml_at.cfg
fml_marker.cfg
fmlversion.properties

buildcraft/api/core/BuildCraftAPI.java

buildcraft/api/core/IAreaProvider.java

buildcraft/api/core/IBox.java

buildcraft/api/core/LaserKind.java

buildcraft/api/core/Position.java

buildcraft/api/core/SafeTimeTracker.java

buildcraft/api/transport/FacadeManager.java

buildcraft/api/transport/IExtractionHandler.java

buildcraft/api/transport/IPassiveItemContribution.java

buildcraft/api/transport/IPipe.java

buildcraft/api/transport/IPipeConnection.java

buildcraft/api/transport/IPipedItem.java

buildcraft/api/transport/IPipeEntry.java

buildcraft/api/transport/IPipeTile.java

buildcraft/api/transport/PipeManager.java

dan200/computer/api/ComputerCraftAPI.java

dan200/computer/api/IComputerAccess.java

dan200/computer/api/IHostedPeripheral.java

dan200/computer/api/IMedia.java

dan200/computer/api/IPeripheral.java

dan200/computer/api/IPeripheralHandler.java

dan200/turtle/api/ITurtleAccess.java

dan200/turtle/api/ITurtleCommandHandler.java

dan200/turtle/api/ITurtleUpgrade.java

dan200/turtle/api/TurtleAPI.java

dan200/turtle/api/TurtleSide.java

dan200/turtle/api/TurtleUpgradeType.java

dan200/turtle/api/TurtleVerb.java

forge_at.cfg

ic2/api/BaseSeed.java

ic2/api/CropCard.java

ic2/api/Crops.java

ic2/api/Direction.java

ic2/api/ElectricItem.java

ic2/api/energy/EnergyNet.java

ic2/api/energy/event/EnergyTileEvent.java

ic2/api/energy/event/EnergyTileLoadEvent.java

ic2/api/energy/event/EnergyTileSourceEvent.java

ic2/api/energy/event/EnergyTileUnloadEvent.java

ic2/api/energy/tile/IEnergyAcceptor.java

ic2/api/energy/tile/IEnergyConductor.java

ic2/api/energy/tile/IEnergyEmitter.java

ic2/api/energy/tile/IEnergySink.java

ic2/api/energy/tile/IEnergySource.java

ic2/api/energy/tile/IEnergyTile.java

ic2/api/energy/usage.txt

ic2/api/ExplosionWhitelist.java

ic2/api/IBoxable.java

ic2/api/IC2Reactor.java

ic2/api/Ic2Recipes.java

ic2/api/ICustomElectricItem.java

ic2/api/IElectricItem.java

ic2/api/IEnergyStorage.java

ic2/api/IMetalArmor.java

ic2/api/IPaintableBlock.java

ic2/api/IReactor.java

ic2/api/IReactorChamber.java

ic2/api/IReactorComponent.java

ic2/api/Items.java

ic2/api/ITerraformingBP.java

ic2/api/IWrenchable.java

ic2/api/network/INetworkClientTileEntityEventListener.java

ic2/api/network/INetworkDataProvider.java

ic2/api/network/INetworkItemEventListener.java

ic2/api/network/INetworkTileEntityEventListener.java

ic2/api/network/INetworkUpdateListener.java

ic2/api/network/NetworkHelper.java

ic2/api/TECrop.java

push.sh
